html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}
span.display {
	color: white;
	text-shadow: 1px 1px 0 #000,	-1px 1px 0 #000,	1px -1px 0 #000,	-1px -1px 0 #000,	0px 1px 0 #000,	0px -1px 0 #000,	-1px 0px 0 #000,	1px 0px 0 #000,	2px 2px 0 #000,	-2px 2px 0 #000,	2px -2px 0 #000,	-2px -2px 0 #000,	0px 2px 0 #000,	0px -2px 0 #000,	-2px 0px 0 #000,	2px 0px 0 #000,	1px 2px 0 #000,	-1px 2px 0 #000,	1px -2px 0 #000,	-1px -2px 0 #000,	2px 1px 0 #000,	-2px 1px 0 #000,	2px -1px 0 #000,	-2px -1px 0 #000;
	font-size: 2em;
}
#game-div {
	position: relative;
	margin: 0 auto;
}
#game-div:fullscreen {
	background-color: black;
}
#menu-div {
	position: absolute;
	pointer-events: none;
}
#menu-div * {
	pointer-events: auto;
	font-family: Elected Office, Arial;
	border-radius: 0.01em;
}
#menu-div span {
	border-radius: 0.1em;
}
#game-div > canvas, #menu-div {
	width: 100%;
	height: 100%;
}

#game-div {
	width:100vw;
	height:75vw;
}
@media screen and (min-aspect-ratio: 800/622) {
	#game-div, #game-div:fullscreen > canvas, #game-div:fullscreen #menu-div {
		height: 100vh;
		width: 133vh;
		font-size: 100vh
	}
	#game-div:fullscreen #menu-div {
		left: 50%;
		transform: translateX(-50%);
	}
}
@media screen and (max-aspect-ratio: 800/622) {
	#game-div, #game-div:fullscreen > canvas, #game-div:fullscreen #menu-div {
		width: 100vw;
		height: 75vw; 
		font-size: 75vw
	}
}

@font-face {
	font-family: "Elected Office";
	src: url("fonts/elected-office.regular.ttf");
}
@font-face {
	font-family: "Elected Office Outline";
	src: url("fonts/elected-office.outline.ttf");
}

#title-bar {
	width: 100%;
	height: 22px;
	background-color: #222222;
	position: sticky;
	top: 0;
	z-index: 10000;
	color: whitesmoke;
	text-align: left;
	-webkit-app-region: drag;
	font-family: Elected Office, Arial;
}
#title-bar-text {
	margin-left: 8px;
	vertical-align: middle;
}
#title-bar-min, #title-bar-max, #title-bar-close, #title-bar-full {
	position: absolute;
	height:12px;
	width: 12px;
	padding: 5px 8px;
	top: 0;
	cursor: pointer;
	-webkit-app-region: no-drag;
}
#title-bar-max > * {
	position: absolute;
	height:12px;
	width: 12px;
	cursor: pointer;
	-webkit-app-region: no-drag;
}
#title-bar-min:hover, #title-bar-max:hover, #title-bar-full:hover {
	background-color: #333333;
}
#title-bar-close:hover {
	background-color: #bb4444;
}
#title-bar-min {
	right: 84px;
}
#title-bar-max {
	right: 56px;
}
#title-bar-full {
	right: 28px;
}
#title-bar-close {
	right: 0;
}
